<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <DesktopBuildPackageLocation>C:\Deployment\FluDatabase.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath />
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="FluJabEntities2" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="FluDatabase.FluJabEntities2, FluDatabase" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="StopSmokingReferralEntities" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=jpitdb5inst3\inst3;Initial Catalog=StopSmokingReferral;User ID=stopsmokinguser;Password=sm0king2012;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\StopSmokingReferralEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/StopSmokingAlcNew.csdl|res://*/StopSmokingAlcNew.ssdl|res://*/StopSmokingAlcNew.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=jpitdb5inst3\inst3;initial catalog=StopSmokingReferral;user id=stopsmokinguser;password=sm0king2012;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="PayControlFormToolEntities" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=JPITDB5INST3\INST3;Initial Catalog=PayControlFormTool;User ID=PayControlFormToolUser;Password=&quot;dRu#u-7ud0o*hL#r$dri &quot;;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\PayControlFormToolEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/PCFTDB.csdl|res://*/PCFTDB.ssdl|res://*/PCFTDB.msl;provider=System.Data.SqlClient;provider connection string='data source=JPITDB5INST3\INST3;initial catalog=PayControlFormTool;user id=PayControlFormToolUser;password=&quot;dRu#u-7ud0o*hL#r$dri &quot;;MultipleActiveResultSets=True;App=EntityFramework'" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ADConnectionString" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="LDAP://JPAGET.NHS.UK" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ADConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="LDAP://JPAGET.NHS.UK" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="PASRefEntities" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=jpitpmi1;Initial Catalog=PASRef;User ID=StopSmoking;Password=Stopsmoking1!;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\PASRefEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/PASRef.csdl|res://*/PASRef.ssdl|res://*/PASRef.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=jpitpmi1;initial catalog=PASRef;user id=StopSmoking;password=Stopsmoking1!;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="PMIEntities" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=JPITPMI1;Initial Catalog=PMI;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\PMIEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/PMI.csdl|res://*/PMI.ssdl|res://*/PMI.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JPITPMI1;initial catalog=PMI;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ADConnectionString-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)FluJabEntities2-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)PASRefEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)PayControlFormToolEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)PMIEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)StopSmokingReferralEntities-Web.config Connection String" />
  </ItemGroup>
</Project>